body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Light background for the body */
}

.container {
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    text-align: center;
}

.heading {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px; /* Adjust icon size if needed */
    pointer-events: none; /* Prevents clicking on the icon */
}

.input {
    padding: 10px 10px 10px 40px; /* Left padding for the icon */
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    width: 100%;
    box-sizing: border-box; /* Include padding in width */
}

.button {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049; /* Darker green on hover */
}
